<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="backround">
    <div id="top" align="left">
        <span style="width:160px; float:left; padding:2px 0px 1px 25px; text-align:center">
        <a href=""><img src="Hinhanh/logo.png" width="150" height="50"/></a></span>
        <form name="search" method="get" action="#">
        <span class="item">
            <input type="text" size="40" name="textsearch" placeholder="Search..." style="height: 25px;"/>
        </span>
        <button type="submit" class="buttona">
        <span class="item" style="padding:0px 0px 10px 10px;"><img src="Hinhanh/search.png" width="20px" height="20px"></span></button></a>
        </form>
    </div>
    <table style="width: 100%;" class="banner">
        <tr>
            <td>
                <div style="padding-top:10px">
                    <span id="main">
                        <img src="Hinhanh/qc/pc2.jpg" height="280px" width="95%"/>
                    </span>
                </div>
                <form method="post">
                    <div style="padding:7px">
            </td>
            <td>
                <table class="login" align="center">
                <tr>
                    <td bgcolor="#333333" height="35px" align="center"><b><font color="#FFFFFF">ĐĂNG NHẬP</font></b></td>  
                </tr>
                <tr >
                    <td></br>Tài khoản</td>
                </tr>
                <tr align="center">
                    <td><input type="text" name="textname" size="25"/></td>
                </tr>
                <tr>
                    <td>Mật khẩu</td>
                </tr>
                <tr align="center">
                    <td><input type="password" name="textpassword" size="25" /></td>
                </tr>
                <tr align="center">
                    <td style="padding-top:15px">
                    <button class="button" type="submit" style="width:45%">Đăng nhập</button>
                    <a href="dangki.php"><button class="button" type="button">Đăng kí</button></a>
                    </td>
                </tr>
                <tr align="center">
                    <td style="padding-top:15px" align="center">
                    
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>



    <div align="right" style="height:20px;line-height:20px; padding-top: 2px; padding-bottom: 2px;">
        <span>Hiển thị theo: 
     </span>
        <span>
        <select>
         <option> Giá: thấp đến cao</option>	
         <option> Giá: cao đến thấp</option>	
     </select>
     </span>
     <span>
         <input type="submit" value="Lọc"/>
     </span>
    </div>
    
    

    <div id="menu">
        <ul type="none">
            <li><a href="">TRANG CHỦ</a></li>
            <li><a href="">CPU</a></li>
            <li><a href="">MAINBOARD</a></li>
            <li><a href="">RAM</a></li>
            <li><a href="">Ổ CỨNG</a></li>
            <li><a href="">VGA</a></li>
            <li><a href="">PSU</a></li>
            <li><a href="">LINH KIỆN KHÁC</a></li> 
        </ul>
    </div>

    <div>
    <table style="border: 1px;" align="center" id="sp">
        <tr>
            <td><iframe width="260" height="200" src="https://www.youtube.com/embed/jWgcKoF81vU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
            <td>
                <iframe width="260" height="200" src="https://www.youtube.com/embed/VU8A_TeHVWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </td>
            <td>
                <iframe width="260" height="200" src="https://www.youtube.com/embed/4rXW88Gez2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="Hinhanh/ocung/SSD Kingston A400 M.2 2280 SATA 3 SA400M8 - 120GB-2.png" style="width: 250px; height: 250px; padding: 5px;"><p style=" text-align: center;">SSD Kingston A400 M.2 2280 - 120GB</p></td>
            <td><img src="Hinhanh/ocung/hdd_seagate_barracuda_2tb_3.5_sata3_st2000dm008__1.png" style="width: 250px; height: 250px; padding: 5px;"><p style=" text-align: center;">HDD seagate barracuda 2tb 3.5 sata3</p></td>
            <td><img src="Hinhanh/ocung/ssd-samsung-860-evo-500gb-2.5-1.jpg" style="width: 250px; height: 250px; padding: 5px;"><p style=" text-align: center;">SSD samsung 860 evo 500gb</p></td>
            <td><img src="Hinhanh/cpu/techzones-intel-core-i5-9400f-1.jpg" style="width: 250px; height: 250px; padding: 5px;"><p style=" text-align: center;">CPU techzones intel core i5 9400f</p></td>
            <td><img src="Hinhanh/ram/ddr4-gskill-tzb-1.png" style="width: 250px; height: 250px; padding: 5px;"><p style=" text-align: center;">RAM DDR4 gskill tzb 1</p></td>
        </tr>
        <tr></tr>
    </table>
    </div>

    <div id="footer">
        <p>Copyright &copy; 1998 - 2023</p>
    </div>

    



    
</body>
</html>