.head, .menu, .content, .footer {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
}
.head {
    /* width: 100%; */
    height: 150px;
    
    background-color: lightblue;
}

.head_logo {
    width: 30%;
    height: 150px;
    margin-right: 5px;
    border: 1px solid;
    float: left;
    /* box-sizing: border-box; */
}

.head_banner {
    width: calc(100% - 30% - 9px);
    height: 150px;
    border: 1px solid;
    float: left;
    /* box-sizing: border-box; */
}

.menu {
    /* width: 100%; */
    height: 50px;
    /* border: 1px solid; */
    /* margin-top: 5px; */
    background-color: lightsalmon;
}

.menu-bar td {
    line-height:30px;
    border-left: 1px solid;
    padding: 2px 30px 2px 5px;
    border-top: 10px;
}

.menu a {
    text-decoration: none;
}
.content {
    /* width: 100%; */
    height: 600px;
    /* border: 1px solid; */
    /* margin-top: 5px; */
    background-color: lightgreen;
}

.content-left {
    width: 15%;
    height: 600px;
    border: 1px solid;
    float: left;
    margin-right: 10px;
}

.content-mid {
    width: calc(100% - 15% - 25% - 26px);
    float: left;
    height: 600px;
    border: 1px solid;
    margin-right: 10px;
}

.content-right {
    width: 25%;
    height: 600px;
    float: left;
    border: 1px solid;
}
.footer {
    /* width: 100%; */
    height: 50px;
    /* border: 1px solid;
    margin-top: 5px; */
    background-color: lightblue;
}

