<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực hành 1</title>
    <link rel="stylesheet" href="th1.css">
</head>
<body>
    <div class="head">
        <div class="head_logo"></div>
        <div class="head_banner"></div>
    </div>

    <div class="menu">
        <table class="menu-bar">
            <tr>
                <td><a href="">Home</a></td>
                <td><a href="">Students</a></td>
                <td><a href="">Courses</a></td>
                <td><a href="">About Us</a></td>
                <td><a href="">Contact Us</a></td>
            </tr>
        </table>
    </div>

    <div class="content">
        <div class="content-left"></div>
        <div class="content-mid"></div>
        <div class="content-right"></div>
    </div>

    <div class="footer"></div>
    
</body>
</html>